<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="http://yourdomain/DotDot" version="1.0.0" viewmodes="maximized">
    <tizen:application id="K6zLGIocUk.DotDot" package="K6zLGIocUk" required_version="2.3"/>
    <content src="index.html"/>
    <feature name="http://tizen.org/feature/screen.size.all"/>
    <icon src="icon.png" height="100" width="100"/>
    <name>DotDot</name>
    <tizen:profile name="mobile"/>
</widget>
