html,body{
	width: 100%;
	height: 100%;
	background-color: black;
	margin:0px;
	color:white;
}
.page{
	width: 100%;
    height: 100%;
    margin: 0 auto;
}
.contents{
	width: 100%;
	height: 100%;
    background-color: black;
    margin: 0 auto;
}
.top{
	width: 100%;
}
.main{
	height: 100%;
	float: left;
	margin: 1px;
}
.max_table{
	width: 100%;
	height: 100%;
	margin: 0 auto;
}
.max_table td{
	width: 18px;
	height: 18px;
}
.tip{
	display: none;
	width: 90px;
	height: 100%;
	float: right;
	border-left: 1px solid gray;
}
.tip .desc{
	display: block;
	font-size: 14px;
	font-weight: 900;
	margin: 5px 0 5px 5px;
}
.tip .score{
	display: block;
	font-size: 14px;
	font-weight: 900;
	width: 100%;
	color: #53ff53;
	text-align: center;
	margin-bottom: 12px;
}
.tip ul{
	display: block;
	font-size: 14px;
	font-weight: 900;
	margin: 0 auto;
	padding: 5px 0;
	width: 80px;
	list-style: none inside;
}
.tip ul>li{
	text-align: center;
}

.min_table{
	width: 83px;
	height: 83px;
	margin: 0 auto;
}
.min_table td{
	width: 20px;
	height: 18px;
}
.color-1{
	background-color: #ff0000;
}
.color-2{
	background-color: #0072e3;
}
.color-3{
	background-color: #9aff02;
}
.color-4{
	background-color: #00bb00;
}
.down{
	display: none;
	width: 100%;
	height: 150px;
	border-top: 1px solid gray;
}
.ope_table{
	width: 141px;
	height: 141px;
	margin: 0 auto;
	margin-top: 5px;
}
.ope_table td{
	width: 40px;
	height: 36px;
	border-radius: 2px;
}
.ope_table .key_top{
	background: url(../images/arrow_44_t.png);
}
.ope_table .key_left{
	background: url(../images/arrow_44_l.png);
}
.ope_table .key_right{
	background: url(../images/arrow_44_r.png);
}
.ope_table .key_down{
	background: url(../images/arrow_44_d.png);
}
.alert{
    display: none;
	position: absolute;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-color: gray;
    top: 0;
    opacity: 0.8;
}
.alert .over{
    display: block;
    font-size: 27px;
    font-weight: 900;
    width: 200px;
    margin: 0 auto;
    text-align: center;
    margin-top: 130px;
    color: #000000;
}
.alert .result{
    display: block;
    width: 200px;
    margin: 0 auto;
    text-align: center;
    margin-top: 10px;
    color: #000000;
    font-weight: 900;
}
.alert .restart{
	display: block;
	width: 80px;
	border: none;
	background: #F89406;
	height: 35px;
	line-height: 35px;
	border-radius: 4px;
	margin: 0 auto;
	text-align: center;
	margin-top: 15px;
	color: #000000;
	font-weight: 900;
	font-size: 16px;
}
.alert .restart:hover{
	color:#352929;
}
.ui-loader{
	display: none;
}
.ui-btn-inner{
	display: none;
}